@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  .text-vertical-rl {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  .solid-sm {
    @apply px-2 py-1;
  }
  .solid-md {
    @apply px-4 py-2;
  }
}

@layer base {
  :root {
    --reach-menu-button: 1;
    --reach-combobox: 1;
  }

  html,
  body {
    @apply h-full;
  }

  body {
    font-family: "Noto Sans TC", sans-serif;
  }

  code {
    font-family: "Menlo", "Courier New", "Courier", monospace;
  }

  input[type] {
    @apply w-full border-none p-0 outline-none focus:ring-0;
  }
  ::-webkit-search-cancel-button {
    @apply hidden;
  }

  svg {
    @apply h-auto;
  }

  kbd {
    @apply solid-sm border border-secondary;
  }

  a {
    @apply hocus:underline;
  }
}

@layer components {
  .decor-caret {
    @apply relative;
    @apply after:absolute after:bottom-[0.2rem] after:right-0 after:-mr-3;
    @apply after:content-[''];
    @apply after:block after:h-[60%] after:w-2;
    @apply after:bg-current;
    @apply after:animate-pulse;
  }

  .arrow {
    @apply after:content-['_→'];
  }
  .button-underline {
    @apply uppercase underline underline-offset-2;
  }

  .badge {
    @apply rounded px-2;
  }

  [aria-expanded="true"] > svg:nth-of-type(1),
  [aria-expanded="false"] > svg:nth-of-type(2) {
    @apply hidden;
  }

  .text-gradient {
    @apply bg-gradient-to-r from-purple-400 to-pink-600;
    @apply bg-clip-text text-8xl font-extrabold text-transparent;
  }

  .card-layer {
    @apply rounded-lg;
    @apply shadow-lg shadow-black hocus:shadow-xl hocus:shadow-black;
    @apply transition-shadow duration-300;
  }
}

@layer base {
  :root {
    @apply bg-primary text-primary-1;
  }
  *,
  ::before,
  ::after {
    border-color: var(--color-border-primary);
  }
}

@layer base {
  :root {
    --color-text-primary-1: theme("colors.slate.50");
    --color-text-primary-2: theme("colors.slate.300");

    --color-background-primary: theme("colors.slate.900");
    --color-background-form: theme("colors.slate.800");

    --color-border-primary: theme("colors.slate.800");
    --color-border-secondary: theme("colors.slate.500");
  }
}
